version: '3.8'

services:
  redis:
    image: redis:7-alpine
    container_name: bank-redis
    platform: ${DOCKER_PLATFORM:-linux/amd64}
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    command: redis-server --appendonly yes
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bank-network

  mongodb:
    image: mongo:7
    container_name: bank-mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: bank-microservice
    volumes:
      - mongodb-data:/data/db
    healthcheck:
      test: [ "CMD", "mongosh", "--eval", "db.adminCommand('ping')" ]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - bank-network

volumes:
  redis-data:
  mongodb-data:


networks:
  bank-network:
    driver: bridge
